@font-face {
  font-family: "TTlakesLight";
  src: url('fonts/TTLakesCompressed-Light.ttf');
}

@font-face {
  font-family: "TTlakesBold";
  src: url('fonts/TTLakes-Bold.ttf');
}

@font-face {
  font-family: "TTlakesReg";
  src: url('fonts/TTLakes-Regular.ttf');
}

@font-face {
  font-family: "TTlakesRegD";
  src: url('fonts/TTLakesCondensed-Regular.ttf');
}

.hidden {
  display: none;
}

.tablet--hide {
  display: none;
}

html {
  box-sizing: border-box;
}

body {
  color: #7E7E82;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-family: ttLakesReg;
  min-width: 320px; 
  min-height: 234px;
  background: #F8F8F8;
  overflow: hidden;
}
@media (min-width:768px) {
  body {
    overflow: hidden;
    width:768px;
    height: 322px;
    
  }
}
@media (min-width:1120px) {
  body {
    overflow: hidden;
    width: 1120px;
    height: 322px;
  }
}

.header {
  overflow: hidden;
  min-width: 320px;
  height: 80px;
  background: linear-gradient(270deg, #F8F8F8 0%, #FFF 98.61%);
}
@media (min-width: 768px) {
  .header {
    height: 56px;
  }
}

.header__title {
  color: #7E7E82;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  text-transform: uppercase;
  white-space: wrap;
  padding: 16px;
  margin: 0px;
}

ul {
  position: relative;
  /* width: 300px; */
  list-style: none;
  padding: 16px 0px 0px 16px;
  margin: 0px;
  overflow: hidden;
  display: flex;
  gap: 16px;
  grid-column-gap: 16px;
}

@media (min-width: 768px) {
  ul {
    width: 768px;
    display: grid;
    margin: 24px 24px 0px 24px;
    padding: 0;
    grid-template-columns: 224px 224px 224px;
    gap: 16px;
  grid-column-gap: 16px;
}
}
@media (min-width:1120px) {
 ul {
  width: 1120px;
  display: grid;
  grid-template-columns: 240px 240px 240px 240px;
  gap: 32px;
  grid-column-gap: 16px;
 }
 li:nth-child(7) {
  display: block;
 }

 li:nth-child(8) {
  display: block;  
}
}


.main__content::after {
  position: fixed;
  top: 120px;
  right: -10px;
  content: '  ';
  z-index: 10000;
  box-shadow: -20px 0px 10px 17px white
}

@media (min-width: 768px) {
  .main__content::after {
    display: none;
  }
}



li {
  position: relative;
  width: 240px;
  height: 72px;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  background: #FFF;
  flex-shrink: 0;
}

@media (min-width:768px) {
  li {
    width: 224px;
  }
}
@media (min-width:1120px) {
  li {
    width: 240xp;
  } 
}




.lenovo {
  background: #FFF url('img/lenovo.png') no-repeat 10% 50% ;
  background-size: 108px 32px;
}

.samsung {
  background: #FFF url('img/samsung.png') no-repeat 10% 50% ;
  background-size: 108px 32px;
}

.apple {
  background: #FFF url('img/apple.png') no-repeat 10% 50% ;
  background-size: 44px 44px;
}

.bosch {
  background: #FFF url('img/bosch.png') no-repeat 10% 50% ;
  background-size: 128px 28px;
}

.hp {
  background: #FFF url('img/hp.png') no-repeat 10% 50% ;
  background-size: 52px 52px;
}

.acer {
  background: #FFF url('img/acer.png') no-repeat 10% 50% ;
  background-size: 94px 24px;
}

.sony {
  background: #FFF url('img/sony.png') no-repeat 10% 50% ;
  background-size: 108px 32px;
}

.viewsonic {
  background: #FFF url('img/viewsonic.png') no-repeat 10% 50% ;
  background-size: 128px 21px;
}


.item__button {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #FF3E79 ;
  background: url('img/go.svg') 50% 50% ;
}

footer{
display: flex;
align-items: center;
justify-content: space-between;
}

.slider {
  align-self: center;
  display: flex;
  margin: 16px auto 0px auto;
  gap: 14px;
  width: 204px;
  height: 12px;
}
@media (min-width: 768px) {
  footer {
    display: none;
  }
  .slider {
    display: none;
  }
}

.slider__Oval {
  background: #cccccc;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.slider__Oval:hover {
  background-color: #7E7E82;
}

.list--expander {
  display: none;
}

@media (min-width:768px) {
  .list--expander {
  display: flex;
  align-items: center;
  flex-direction: row;
  }

  .OHAE {
    display: flex;
    margin: 24px auto 34px 24px;
  }
  .content__expand {
    padding: 0;
    border: none;
    margin: 24px auto 34px 24px;
   background: #F8F8F8;
}

.content__expand--text {
  font-weight: 500;
  font-family: TTlakesReg;
  color: black
}

.expander__img--rotate {
  transform: rotate(180deg);
}



